<mat-toolbar color="primary" class="pma-header" *ngIf="currentToken|async; else nobodyLoggedIn">
  <a href="#">Welcome, {{currentLogin}}</a>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button routerLink="/edit" mat-menu-item>Edit Profile</button>
    <button (click)="handleLogoutClick()" routerLink="/welcome" mat-menu-item>Logout</button>
  </mat-menu>
</mat-toolbar>

<ng-template #nobodyLoggedIn>
  <mat-toolbar color="primary" class="pma-header">
    <a href="#">Welcome to Project Management Application</a>
    <div class="auth-buttons">
      <button routerLink="/login" class="login-btn" mat-stroked-button>Log In</button>
      <button routerLink="/signup" class="signup-btn" mat-stroked-button>Sign Up</button>
    </div>
  </mat-toolbar>
</ng-template>
