<mat-card class="card" id="card1">
  <mat-icon class="add-task">library_add</mat-icon>
  <mat-icon class="delete-column">delete</mat-icon>
  <mat-card-title class="col-title">
    <mat-form-field>
      <input matInput [(ngModel)]="title" id="input">
    </mat-form-field>
    <div id="icons" [ngClass]="editModeOn ? 'icons-visible' : 'icons-hidden'">
      <mat-icon id="update-column-btn">check</mat-icon>
      <mat-icon id="cancel-update-btn">close</mat-icon>
    </div>
  </mat-card-title>
  <mat-card-content class="tasks-list">
    <p>task1</p>
    <p>task2</p>
    <p>task3</p>
    <p>task4</p>
  </mat-card-content>
</mat-card>
