<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-group login-form">
  <h2>Log In</h2>
  <mat-form-field appearance="outline">
    <mat-label>Login</mat-label>
    <input matInput
           type="text"
           placeholder="Login"
           formControlName="login">
    <mat-error *ngIf="loginForm.get('login').hasError('required')">Login is required</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput
           type="password"
           placeholder="Password"
           formControlName="password">
    <mat-error *ngIf="loginForm.get('password').hasError('required')">Password is required</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" class="login-btn">Log In</button>
</form>

<div class="form-bottom">
  <span class="form-question">Don't have an account?</span>
  <a routerLink="/signup" class="form-link">Sign Up</a>
</div>
