<form (submit)="onSubmit()" class="form-group edit-profile-form">
  <h2>Edit User Profile</h2>
  <mat-form-field appearance="fill">
    <mat-label>Login</mat-label>
    <input matInput type="text" class="form-control login" id="floatingLogin" placeholder="Login" [(ngModel)]="loginValue" name="loginValue">
  </mat-form-field>
  <!--  <mat-form-field appearance="fill">-->
  <!--    <mat-label>Password</mat-label>-->
  <!--    <input matInput type="password" class="form-control password" id="floatingPassword" placeholder="Password" [(ngModel)]="passwordValue" name="passwordValue">-->
  <!--  </mat-form-field>-->
  <mat-form-field appearance="fill">
    <mat-label>New Password</mat-label>
    <input matInput
           type="password"
           class="form-control password"
           id="newPasswordValue"
           placeholder="New Password"
           [(ngModel)]="newPasswordValue"
           name="newPasswordValue">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Repeat New Password</mat-label>
    <input matInput
           type="password"
           class="form-control password"
           id="repeatedPasswordValue"
           placeholder="Repeat New Password"
           [(ngModel)]="repeatedPasswordValue"
           name="repeatedPasswordValue">
  </mat-form-field>
  <button (click)="openConfirmationDialog()" mat-flat-button color="warn" type="button" class="delete-btn">Delete Profile</button>
  <div class="buttons">
    <button mat-flat-button color="primary" type="submit" class="login-btn">Save Changes</button>
    <button mat-flat-button color="primary" type="button" class="login-btn">Cancel</button>
  </div>
</form>
