.edit-profile-form {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 0 auto;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px 0;
}

h2 {
  text-align: center;
  margin: 25px 0;
}

button {
  width: 150px;
}

.delete-btn {
  margin: 0 auto;
}

// mat-input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: black!important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
  color: red !important;
  opacity: 0.8 !important;
}

::ng-deep .mat-form-field-label {
  color: rgba(0,0,0,.6)!important;
}
