<form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()" class="form-group edit-profile-form">
  <h2>Edit User Profile</h2>
  <mat-form-field appearance="outline">
    <mat-label>Login</mat-label>
    <input matInput
           type="text"
           placeholder="Login"
           formControlName="login"
           name="loginValue">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>New Password</mat-label>
    <input matInput
           type="password"
           placeholder="New Password"
           formControlName="newPassword">
    <mat-error *ngIf="editProfileForm.get('newPassword').hasError('required')">Password is required</mat-error>
    <mat-error *ngIf="editProfileForm.get('newPassword').hasError('minlength')">Min length 4 char</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Repeat New Password</mat-label>
    <input matInput
           type="password"
           placeholder="Repeat New Password"
           formControlName="repeatedPassword">
    <mat-error *ngIf="editProfileForm.get('repeatedPassword').hasError('required')">Please repeat new password</mat-error>
  </mat-form-field>
  <button (click)="openConfirmationDialog()" mat-flat-button color="warn" type="button" class="delete-btn">Delete Profile</button>
  <div class="buttons">
    <button mat-raised-button type="button" (click)="cancelEdit()" class="login-btn">Cancel</button>
    <button mat-raised-button type="submit" color="primary" class="login-btn">Save Changes</button>
  </div>
</form>
